body{

}

  .content-container > a{
  	color: #F8FFF4;
  }
  .footer{
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%
  	background-color: #474350;
  	color: white;
  	text-align: center;
  }
  .featured{
    border: 1px solid black;
    border-radius: 4px;
  }
  .panel-body{
    display: block;
    margin: auto;
  }


.container-fluid 
{
    background-color: #253237;
}



.navbar-brand 
{
    background-color: #e0fbfc;
    color: #253237;
}
